@charset "utf-8";
::-webkit-scrollbar { display: none; }
* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; font-family: 'Nanum Gothic', 'Montserrat', sans-serif; }
html { overflow: hidden; }
body { overflow: auto; }
ul { list-style: none; }
a { text-decoration: none; }
button { border:0; background-color: transparent; outline: 0; }

.container { width: 100%; height: 100%; position: relative; }
.home_box { width: 100%; height: 4%; background-color: #fff; position: fixed; top: 0; left: 0; z-index: 999; }
.home { display: block; position: absolute; z-index: 999; color: #333; left: 2%; top: 25%; width: 120px; }
.hd_wrap { position: fixed; top: 0; left: 0; z-index: 30; }
.gnb_btn_box { width: 13vw; height: 100vh; position: absolute; top: 0; left: 0; }
.ckBox { display: none; }
.gnb_btn_fr { position: absolute; top: 50%; left: 6.5%; z-index: 10; }
.gnb_btn_line_box { width: 40px; height: 40px; float: left; position: relative; z-index: 10; cursor: pointer; }
.gnb_btn { display: block; width: 30px; height: 2px; background-color: #333; margin: 0 auto; margin-top: 8px; transition: 0.3s; }
.menu { float: left; margin-top: 10px; transform: rotate(-90deg); transition: 0.3s; margin-left: -10px; position: relative; z-index: 10; cursor: pointer; color: #333; font-weight: bold; }
.gnb_btn_fr:hover .menu { color: #333; }
.menu_bc { display: block; width: 15vw; height: 100vh; position: absolute; top: -50vh; left: -14.3vw; background-color: rgba(255,255,255); transition: 0.3s; }
.gnb_btn_fr:hover .menu { transform: rotate(0deg); margin-left: 0px; }
.gnb_btn_fr:hover .menu_bc { left: -12vw; }
.gnb_btn_fr:hover .gnb_btn_line_box .line2 { width: 15px; }
.gnb_wrap { width: auto; height: 100vh; position: absolute; top: -50vh; left: 0; }
.gnb_box { position: absolute; top: 50vh; margin-top: -125px; left: -10vw; transition: 0.5s; z-index: 10; }
.gnb { width: 60%; height: 50px; line-height: 50px; font-weight: bold; cursor: pointer; }
.ckBox:checked ~ .gnb_btn_fr .gnb_wrap .gnb_box { left: 7vw; }
.ckBox:checked ~ .gnb_btn_fr .menu_bc { left: -2vw;}
.ckBox:checked ~ .gnb_btn_fr .menu { transform: rotate(0deg); margin-left: 0px; color:#333; }
.ckBox:checked ~ .gnb_btn_fr .gnb_btn_line_box .line2 { width: 0; }
.ckBox:checked ~ .gnb_btn_fr .gnb_btn_line_box .line1 { transform: rotate(-45deg); }
.ckBox:checked ~ .gnb_btn_fr .gnb_btn_line_box .line3 { transform: rotate(45deg); }
.gnb:hover { color: crimson; }
.gnb_bc { display: none; width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.7); z-index: 1; }
.ckBox:checked ~ .gnb_bc { display: block; }
.sns_wrap { position: fixed; right: 0; height: 100vh; width: 2%; }
.sns_box { position: absolute; top: 50%; margin-top:-98px; right: 3px; }
.sns { padding-top: 50px; }
.sns_ico1 { padding-top: 0; }
.sns a { display: block; width: 32px; height: 32px; }
.sns a img { display: block; width: 100%; }

.page_wrap { width: 96%; height: 96%; margin: 0 auto; margin-top: 2%; }
.page { width: 100%; height: 100%; background-color: #efefef; }
.vs_box { width: 100%; height: 100%; }
#sec { display: block; width: 2px; height: 13vw; position: absolute; background-color: crimson; bottom: 50.7%; left: 48.3%; transform-origin: 0% 100%; }
.con_box { position: absolute; top: 30%; left: 15%; }
.con_box span { display: block; padding-top: 20px; }
#time { padding-top: 20px; }

