@charset 'utf-8';
/*        font-family: 'Ibarra Real Nova', 'Noto Sans KR', sans-serif;*/
/* font-family: 'Ibarra Real Nova', serif; */
* { padding: 0; margin: 0; }
body, html { width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden; }
ul { list-style: none; }
a { text-decoration: none; }
button, label, input { border: 0; border-color: transparent; outline: 0; }
.wrap { width: 100%; position: relative; font-family: 'Ibarra Real Nova', 'Noto Sans KR', sans-serif; }

.hd { width: 100%; height: 7vh; border-bottom: 2px solid #769d2e; box-sizing: border-box; }
.top_icon_btn { border: 1px solid #769d2e; width: 32px; height: 32px; border-radius: 5px; box-sizing: border-box; float: left; margin: 1vh; background-color: #fff; }
.sear_btn {  border: 1px solid #769d2e; width: 32px; height: 32px; border-radius: 5px; box-sizing: border-box; float: left; margin: 1vh; }
.xi-caret-up { font-size: 1.2em; color: #769d2e; transform: rotate(90deg); }
.xi-search { font-size: 1.8em; color: #769d2e; display: block; height: 7vh; line-height: 7vh; text-align: center; }
#xi-search { width: 32px; height: 32px; line-height: 32px; text-align: center;}
.frm1 { width: 100%; height: 0vh; position: absolute; top: 7vh; left: 0; background-color: rgba(255,255,255,0.7); overflow: hidden; transition: 0.3s; z-index: 10; }
.search_box { width: 100vw; height: 86vh; position: absolute; top: 7vh; left: -120%; background-color: rgba(255,255,255,0.7); transition: 0.5s;}
.search_txt { width: 60vw; height: 7vh; background-color: #769d2e; border-radius: 5px; position: absolute; top: 0; left: 13.6%; text-indent: 10px; margin: 0; }
#sear_btn3 { width: 7vh; height: 7vh; position: absolute; top: 0; left: 74.5%; margin: 0; }
.sns_box { width: 80%; }
.sns_box li { float: left; margin: 1vh;}
.logo { display: block; float: left; width: 110px; height: 30px; background-image: url(../data/sidmool_logo.png); background-size: 100%; background-repeat: no-repeat; position: absolute; top: 1%; left: 50%; margin-left: -55px; }
.gnb_btn_box { width: 32px; height: 32px; float: right; margin: 1vh; border: 1px solid #769d2e; border-radius: 5px; position: relative; }
.gnb_btn_box span { display: block; position: absolute; width: 24px; height: 2px; background-color: #769d2e; top: 9px; left: 4px; transition: 0.3s;  }
.gnb_btn_box span:nth-child(2) { top: 20px; }

.content_wrap { width: 100%; height: 93vh; position: relative; clear: both;  }
.content_wrap .content_box { width: 50%; height: 50%; background-color: #769d2e; float: left; position: relative; }
.content_wrap .content_box:nth-child(2) { background-color: #8ebc21; }
.content_wrap .content_box:nth-child(3) { background-color: #8ebc21; }
.content_fr { width: 85%; height: 90%; background-color: #8ebc21; position: absolute; top: 50%; left: 50%; margin-left: -42%; margin-top: -21vh; }
.content_fr.it2, .content_fr.it3 { background-color: #769d2e; }
.content_tit { color: #fff; font-family: slash; font-size: 3em; text-align: center; padding-top: 50%; }
.content_tit span { display: block; }

.log_wrap { position: absolute; top: 7vh; left: 0; width: 100vw; height: 93vh; background-color: #769d2e; transition: 0.5s; transform:scale(0); }
.frm2 { position: relative; width: 90vw; height: 87vh; background-color: #8ebc21; margin: 5vw auto; }
.log_tit { color:#fff; height: 30vh; line-height: 30vh; text-align: center;}
.log_id { width: 65vw; height: 7vh; border-radius: 5px; text-indent: 20px; margin: 0 12.5vw; margin-top: -10vh; }
.log_pw { width: 65vw; height: 7vh; border-radius: 5px; text-indent: 20px; margin: 0 12.5vw; margin-top: 3vh; }
.check_cir_box { width: 65vw; height: 5vh; margin: 3vh auto;  }
.check_cir_box span { margin-left: 2vw; color:#fff; }
.check_cir_box span:first-child { margin-left: 0; }
.enter { background-color: #769d2e; font-size: 1.2em; border: 2px solid #fff; border-radius: 5px; width: 30vw;height: 5vh; color:#fff; float: left; margin-left: 12.5vw; text-indent: 0; margin-right: 0;}
.join_btn { background-color: #769d2e; font-size: 1.2em; border: 2px solid #fff; border-radius: 5px; width: 30vw;height: 5vh; line-height: 5vh; color:#fff; margin-left: 5vw; float: left; box-sizing: border-box; text-align: center; }
.id_fr { float: left; margin-right: 5vw; }

.join_wrap { position: absolute; top: 7vh; left: 110vw; width: 100vw; height: 93vh; background-color: #769d2e;  transform:scale(0.8); transition:0.5s; }
.join_wrap.on { left: 0vw; }
.frm3 { position: relative; width: 90vw; height: 87vh; background-color: #8ebc21; margin: 5vw auto; }
.join_title { color:#fff; height: 10vh; line-height: 10vh; text-align: center; }
input { display: block; width: 65vw; height: 5vh; border-radius: 5px; text-indent: 20px; margin: 0 12.5vw; }
#m_pw, #m_pw2 { margin-top: 2vh; }
.gender { width: 15px; height: 15px; float: left; margin: 0;margin-left: 5vw; float: left; margin-top: 2vh; }
#m_gen { margin-left: 12.5vw; }
#m_gen2 { margin-left: 5vw; }
#gen_btn1, #gen_btn2 { margin-left: 2vw; margin-top: 1.2vh; }
label { display: block; float: left; margin-left: 12.5vw; color:#fff; margin-top: 2vh; font-size: 14px; }
#birth { clear: both; }
#j_btn { background-color: #769d2e; text-indent: 0; margin-top: 5vh; color:#fff; border: 1px solid #fff; box-sizing: border-box; }

.ft { width: 100vw; position: relative; border-top: 2px solid #769d2e; box-sizing: border-box; }
.ft_box { width: 90vw; margin: 0 auto; }
.ft_box li { float: left; margin-left: 2vh; }
.ft_box li:after { content: "|"; margin-left: 2vh; }
.ft_box li:last-child:after { content: ""; }
.ft_box li span { font-size: 10px; }
.ft_txt { clear: both; text-align: center; }
.ft_txt span { display: block; font-size: 10px; }
.copyright { font-size: 10px; text-align: center; }